.nav-padding{
  padding-top: 90px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.title{
  text-align: center;
}

.title h2{
  color: #f16565;
}

.title p{
  font-size: 14px;
} 
/*  */

.container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  background-color: #ffb4b4;
}
.left{
  width: 60vw;
  height: 68vh;
  background-color: aqua;
  padding: 5px;
}
.right{
  width: 40vw;
  height: 70vh;
  background-color: transparent;
  padding: 0 0 10px 10px;
}
.switch{
  display: flex;
  align-items: center;
  width:100%;
  height: 20vh;
  justify-content: flex-start;
  background-color: #ffee00;
}
.comm {
  height: 16vh;
  width: 16vh;
  background-color: #5e8a2c;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 25px;
  border-radius: 50%;
  font-size: 14px;
  color: #ffffff;
}
.comm:hover {
  background-color: #132d17;
  color: #e6e905
}

.community-chat{
  height: 44vh;
  width: 100%;
  background-color: #3ab443;
  padding: 10px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 5px;
}
.global-chat{
  height: 68vh;
  width: 40vw;
  padding: 10px;
  overflow-y: hidden;
  border: 1px solid #ccc;
  /* margin-top: 10px;
  margin-left: 10px; */
  border-radius: 5px;
  background-color: #00c3ff;
}


.input-message {
  width: calc(100% - 20px);
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-file {
  margin-top: 10px;
}

.send-btn {
  width: 100%;
  background-color: #ff6f61;
  color: #ffffff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.send-btn:hover {
  background-color: #ff544b;
}

.popularPostsContainer {
  height: 210px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 0.5em;
  
}

.popularPost {
  height: fit-content;
  padding: 10px;
  margin: 10px;
  margin-left: 5px;
  background-color: #e6dbdb;
  border-radius: 0.5em;
}

.communityName {
  margin-left: 50px;
  margin-right: auto;
}

/* .voteIcons {
  margin-top: 20px;
  margin: 10px;
}

.icon1 {
  margin-left: 375px;
} */

.postContent {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 15px;
}

.votes {
  margin-top: 20px;
  margin: 10px;
  font-size: 14px;
  
}

.upVote {
  margin-left: 15em;
}

.addCommentForm {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.commentsNumber {
  margin-left: 1.5em;
}

.comment {
  margin-left: 1.25em;
  background-color: #f0eaea;
  height: fit-content;
  padding: 10px;
  border-radius: 0.5em;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 5em;
  left: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.communityPostsContainer {
  height: 6em;
  overflow-y: scroll;
  background-color: white;
  border-radius: 0.5em;
  
}