.nav-padding{
  padding-top: 90px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

/* Image Slider CSS */
.fpss{
  width: 100%;
  display: flex;
  height: 45vh;
  margin-bottom: 1vh;
  align-items: center;
}
.happy-customer{
  width: 50%;
  overflow: hidden;
}
.happy-customer img{
  width: 100%;
}
.slider {
  width: 50%;
  overflow: hidden;
  object-fit: contain;
  position: relative;
  height: 45vh;
}

.slides {
  width: 500%;
  display: flex;
  align-items: center;
  height: 45vh;
}

.slides input { 
  display: none;
}

.slide {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 2s ease-out;
  height: 42vh;
}

.slide img {
  max-width: 50%;
  max-height: 40vh;
  border-radius: 30% 0 10% 0;
  object-fit: contain;
}

.slide .desc{
  width: 40%;
  max-height: 40vh;
  border-radius: 5vh 0 5vh 0;
  border: 5px solid rgb(255, 217, 0);
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  padding: 2vh;
  color: #f16565;
  background-color: white;
  font-size: 0.8rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  font-style: italic;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0vh;
}

.manual-btn {
  padding: 3.9px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 10px;
}

.manual-btn:hover {
  background: gray;
}

.manual-btn:checked {
  background: gray;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}
/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 0vh;
}

.navigation-auto div {
  border: 3px solid rgba(211, 211, 211, 0.651);
  padding: 1.9px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: gray;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: gray;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: gray;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: gray;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: gray;
}

/*  */
.title{
  text-align: center;
}

.title h2{
  color: #f16565;
}

.title p{
  font-size: 14px;
} 

.container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  background-color: #f5f5f5;
}
.left{
  width: 60vw;
  height: 140vh;
  /* background-color: aqua; */
  background-color: transparent;
  padding: 5px;
}
.right{
  width: 40vw;
  height: 140vh;
  background-color: transparent;
  padding: 0 0 10px 10px;
}
.switch{
  width:100%;
  height: auto;
  /* background-color: #ffee00; */
  background-color: transparent;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.switchSeller {
  width:100%;
  height: auto;
  /* background-color: #ffee00; */
  background-color: transparent;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.comm {
  height: 16vh;
  min-width: 16vh;
  background-color: #f9a600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 25px;
  border-radius: 50%;
  font-size: 14px;
  color: #ffffff;
}
.sell {
  height: 16vh;
  min-width: 16vh;
  background-color: #f9a600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 25px;
  border-radius: 50%;
  font-size: 14px;
  color: #ffffff;
}
.comm:hover {
  background-color: #000000;
  color: #f9a600;
}
.sell:hover {
  background-color: #000000;
  color: #f9a600;
}
.community-chat{
  height: 44vh;
  width: 100%;
  background: linear-gradient(90deg,#FF2F9D 0%,#FF5975 50%,#FF8F41 100%);
  padding: 10px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}
.seller-chat {
  height: 44vh;
  width: 100%;
  background: linear-gradient(90deg,#FF2F9D 0%,#FF5975 50%,#FF8F41 100%);
  padding: 10px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}
.community-chat h2, .community-chat h4{
  color: white;
}
.seller-chat h2, .community-chat h4 {
  color: white;
  padding: 3px;
}
.global-chat{
  height: 140vh;
  padding: 5px 10px;
  overflow-y: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  background: linear-gradient(90deg,#FF2F9D 0%,#FF5975 50%,#FF8F41 100%);
}
.global-chat h2{
  color: white;
}

.addCommunityPostForm{
  display: flex;
  margin: 5px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.addSellerPostForm {
  display: flex;
  margin: 5px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.addCommunityPostForm input{
  width: calc(100% - 70px);

}
.addSellerPostForm input {
  width: calc(100% - 70px);
}

.bottomDiv{
  display: flex;
  padding: 5px;
  position: absolute;
  bottom: 0 ;
  left: 0;
  overflow-x: hidden;
  width: 100%;
}

input#file-input-1, input#file-input-2 {
  display: none;
}
#file-input-label-1, #file-input-label-2{
  font-size: 35px;
  color: white;
  display: flex;
  padding: 0;
  align-items: center;
  padding: 0;
  padding-right: 3px;
}
.input-message{
  border-radius: 5px;
  padding: 5px;
  border: none;
  margin-top: 3px;
  height: auto;
  text-align: justify;
}
.send-btn{
  background: transparent;
  border: none;
}
.send-btn img{
  height: 32px;
  padding-left: 3px;
}

.send-btn:hover {
  background-color: #000000;
}

.popularPostsContainer {
  height: 125vh;
  width: 100%;
  overflow-y: auto;
  padding: 3px 0;
  background-color: #e1b53f;
  border-radius: 0.5em;
}

.bottomDiv input{
  width: calc(100% - 70px);
}

.popularPost {
  height: fit-content;
  padding: 10px;
  margin: 10px;
  margin-left: 5px;
  background-color: white;
  border-radius: 0.5em;
}

.communityName {
  margin-left: 50px;
  margin-right: auto;
}

.sellerName {
  margin-left: 50px;
  margin-right: auto;
}



/* .voteIcons {
  margin-top: 20px;
  margin: 10px;
}

.icon1 {
  margin-left: 375px;
} */

.postContent {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 15px;
}

.votes {
  margin-top: 20px;
  margin: 10px;
  font-size: 14px;
  
}

.upVote {
  margin-left: 15em;
}
.upVote img{
  height: 14px;
  margin-bottom: -2px;

}
.downVote img{
  height: 14px;
  margin-bottom: -2px;
}

.addCommentForm {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.commentsNumber {
  margin-left: 1.5em;
}

.comment {
  margin-left: 1.25em;
  background-color: #f0eaea;
  height: fit-content;
  padding: 10px;
  border-radius: 0.5em;
}

/* The popup form - hidden by default */
.form-popup1 {
  display: none;
  position: fixed;
  bottom: 5em;
  left: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-popup2 {
  display: none;
  position: fixed;
  bottom: 5em;
  left: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container1 {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container2 {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container1 input[type=text], .form-container1 input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container2 input[type=text], .form-container2 input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container1 input[type=text]:focus, .form-container1 input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container2 input[type=text]:focus, .form-container2 input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container1 .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container2 .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container1 .cancel {
  background-color: red;
}

.form-container2 .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container1 .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container2 .btn:hover, .open-button:hover {
  opacity: 1;
}

.communityPostsContainer {
  height: 12em;
  overflow-y: auto;
  padding: 3px;
  background-color: #f5f5f5;
  border-radius: 0.5em;
  
}

.sellerPostsContainer {
  height: 12em;
  overflow-y: auto;
  padding: 3px;
  background-color: #f5f5f5;
  border-radius: 0.5em;
}

.communityPost {
  height: fit-content;
  padding: 10px;
  margin: 10px;
  margin-left: 5px;
  background-color: #e6dbdb;
  border-radius: 0.5em;
}

.sellerPost {
  height: fit-content;
  padding: 10px;
  margin: 10px;
  margin-left: 5px;
  background-color: #e6dbdb;
  border-radius: 0.5em;
}

/* Popup container */
.sellerPopup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.sellerPopup .popuptext {
  visibility: hidden;
  width: fit-content;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  top: -3em;
  left: 110%;
  height: auto;
  width: 16em;
}

/* Popup arrow */
.sellerPopup .popuptext::after {
  content: "";
  position: absolute;
  transform: rotate(-90deg);
  top: 55%;
  left: 0%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  font-size: 40px;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.sellerPopup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.sellerPost #sampleSeller{
  height: 100px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.seller-details {
  color: blue;
  text-decoration: overline;
}