.text-banner-title {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 600;
}
.img-link-container-1 img,
.img-link-container-2 img,
.img-link-container-3 img,
.img-link-container-4 img,
.img-link-container-5 img,
.img-link-container-6 img,
.img-link-container-7 img,
.img-link-container-8 img,
.img-link-container-9 img,
.img-link-container-10 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-link-container-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-row-gap: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}

.img-link-container-3,
.img-link-container-5 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  grid-row-gap: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}

.img-link-container-1,
.img-link-container-4,
.img-link-container-6,
.img-link-container-7,
.img-link-container-8,
.img-link-container-9,
.img-link-container-10 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  grid-row-gap: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}
/* Body part Css Ends */

/* Footer part Css Starts*/
.img-container {
  width: 1080px;
  margin: 40px auto;
}
.footer-image-1,
.footer-image-2,
.footer-image-3,
.footer-image-4 {
  width: 100%;
  margin: 0px auto;
  object-fit: cover;
}

/* Side Image */
.side-image-1 {
  position: fixed;
  right: 0;
  top: 450px;
  cursor: pointer;
}

/* Footer Css Ends */

/* Image Slider CSS */
.parent-slider {
  display: flex;
  width: 100%;
}
.slider1 {
  width: 60%;
  height: 500px;
  overflow: hidden;
  margin-top: 70px;
}
.slider2 {
  width: 40%;
  height: 500px;
  overflow: hidden;
  margin-top: 70px;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*css for manual slide navigation*/

.navigation-manual1 {
  position: absolute;
  width: 60%;
  margin-top: -25px;
  display: flex;
  justify-content: center;
}
.navigation-manual2 {
  position: absolute;
  width: 40%;
  margin-top: -25px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  padding: 3.9px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 10px;
}

.manual-btn:hover {
  background: gray;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio6:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio7:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio8:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}
#radio9:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}
#radio10:checked ~ .first {
  margin-left: -80%;
}
/*css for automatic navigation*/

.navigation-auto1 {
  position: absolute;
  display: flex;
  width: 60%;
  justify-content: center;
  margin-top: 475px;
}
.navigation-auto2 {
  position: absolute;
  display: flex;
  width: 40%;
  justify-content: center;
  margin-top: 475px;
}

.navigation-auto1 div,
.navigation-auto2 div {
  border: 3px solid rgba(211, 211, 211, 0.651);
  padding: 1.9px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto1 div:not(:last-child),
.navigation-auto2 div:not(:last-child) {
  margin-right: 10px;
}

#radio1:checked ~ .navigation-auto1 .auto-btn1 {
  background: gray;
}
#radio2:checked ~ .navigation-auto1 .auto-btn2 {
  background: gray;
}
#radio3:checked ~ .navigation-auto1 .auto-btn3 {
  background: gray;
}
#radio4:checked ~ .navigation-auto1 .auto-btn4 {
  background: gray;
}
#radio5:checked ~ .navigation-auto1 .auto-btn5 {
  background: gray;
}
#radio6:checked ~ .navigation-auto2 .auto-btn6 {
  background: gray;
}
#radio7:checked ~ .navigation-auto2 .auto-btn7 {
  background: gray;
}
#radio8:checked ~ .navigation-auto2 .auto-btn8 {
  background: gray;
}
#radio9:checked ~ .navigation-auto2 .auto-btn9 {
  background: gray;
}
#radio10:checked ~ .navigation-auto2 .auto-btn10 {
  background: gray;
}