.nav-padding {
  padding-top: 90px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
}
h2 {
  text-align: center;
}
.box {
  align-items: center;
  padding: 20px;
  background: #4c0909;
}

.hot-sellers {
  display: flex;
  height: 30vh;
  background-color: chartreuse;

  justify-content: space-between;
}

.seller {
  width: 30%;
  padding: 10px;
  background-color: red;
}

.seller img {
  width: 100%;
}

.festival-needs {
  display: flex;
  /* padding-top: 40px; */
  height: 30vh;
  background-color: #817474;
}

.product1 {
  width: 60%;
  padding: 10px;
  background-color: rgb(27, 27, 159);
}
.product2 {
  width: 60%;
  padding: 10px;
  background-color: rgb(27, 27, 159);
}
.product3 {
  width: 60%;
  padding: 10px;
  background-color: rgb(27, 27, 159);
}
.explore-state {
  display: flex;
  height: 30vh;

  .state {
    display: flex;
    padding: 10px;
    background-color: rgb(231, 231, 37);
  }
}
