.nav-padding {
  padding-top: 80px;
}

.title{
  text-align: center;
  background: white;
}
.title span{
  background-color: transparent;
  text-align: center;
  color: #774b15;
  font-size: 45px;
  font-weight: 500;
  
}
.localStoreImage{
  margin: auto;
  text-align: center;
}
.localStoreImage img{
  height: 180px;
  border: 4px #f16565 solid;
}
.small-title{
  text-align: center;
  padding: 46px 0 20px 0;
}
.small-title span{
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

h2 {
  text-align: center;
}
.row {
  height: 35vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 50px;
  margin-right: 50px;
}
.row .item {
  position: relative;
  width: 22vw;
  height: 35vh;
  text-align: center;
}
.row .item:hover{
  transform: scale(1.15);
}
.row .item img {
  width: auto;
  height: 35vh;
  object-fit: contain;
}
.row .item span{
  background-color: white;
  position: absolute;
  bottom: 20px;
  left: 50px;
  font-size: 15px;
  box-shadow: 0 0 5px black, 0 0 10px white;
  border-radius: 4px;
  padding: 1px;
}
.row .item p{
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.7);
  
}
.row .item h3{
  background-color: rgba(255, 255, 255, 0.7);
}
.row .item p del{
  font-weight: 400;
  color: rgb(100, 100, 100);
}
.row .item p i{
  font-weight: 600;
  color: rgb(255, 0, 0);
}
.row .item p b{
  font-weight: 700;
  color: rgb(0, 181, 0);
}
.item img {
  width: 100%;
}
.explore-title{
  text-align: center;
  padding: 36px 0 76px 0;
}
.explore-title span{
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}
.explore{
  height: 20vh;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: transparent;
}
.explore .explore-item a{
  text-decoration: none;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  background-color: #f16565;
  color: white;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  border: 5px solid #ffffff;
}
.explore .explore-item:hover{
  transform: scale(1.5);
}
.space{
  height: 20vh;
}
.end-space{
  height: 70vh;
}